<%= form_with(model: search, local: true) do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_area :origin, id: :search_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_area :destination, id: :search_destination %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :search_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
