<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @search.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @search.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @search.date %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
